.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #F3F6F9;
  padding: 10px 40px;
  
  .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-side .name-logo{
    background: #F6CA65;
    border-radius: 5px;
    width: 43px;
    height: 43px;
    color: #fff;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  .right-side .name {
    color: #005B96;
    font-weight: 700;
  }  
}

